
.robot-name {
    margin-top: 10px;
    color: var(--leaphy-text-color);
}

.robot-button {
    background-color: var(--leaphy-robot-tile) !important;
    border: solid 1px var(--leaphy-robot-tile-border) !important;
    width: 10vw;
    max-width: 180px !important;
    aspect-ratio: 1 / 1;

    &:hover,
    &:active {
        body[data-theme='dark'] & {
            background-color: #444452 !important;
            border: 3px solid var(--leaphy-color-primary) !important;
        }
        body[data-theme='light'] & {
            background-color: #ffffff !important;
            border: 3px solid var(--leaphy-color-primary) !important;
        }
    }
}



.robot-button img {
    max-width: 90%;
    max-height: 90%;
    body[data-theme='dark'] & {
        filter: invert(20%);
    }
}

.selected {
    border: 3px solid var(--leaphy-color-primary) !important;
}

.zoomed {
    transition: transform 0.1s;
}

.zoomed:hover {
    transform: scale(1.03);
}

.robot-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 0;
    height: calc(100vh - 64px);
    width: 50vw;
}

.robot-row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: fit-content;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
}

.watermark-container {
    padding-top: 1%;
}

.watermark {
    width: 300px;
    height: 100px;
}

[mat-stroked-button] {
    font-size: 12px;
    font-weight: normal;
    border-radius: 20px;

    mat-icon {
        height: 20px;
        font-size: 18px;
    }
}
