<div id="container">
  <div id="content">
    <h1>Problemen met uploaden?</h1>
    <h3>Selecteer eerst uw browser en vervolgens uw besturingssysteem</h3>
    <h2 (click)="scrollTo('firefox')">- Firefox</h2>
    <h2 (click)="scrollTo('safari')">- Safari</h2>
    <h2 (click)="scrollTo('linux')">- Linux</h2>
    <h2 (click)="scrollTo('windows')">- Windows</h2>
    <h2 (click)="scrollTo('mac')">- Mac</h2>
    <h2 (click)="scrollTo('mobile')">- Mobiele apparaten</h2>
    <h2 (click)="scrollTo('other')">- Overig</h2>

    <div id="firefox">
      <h3>Problemen met uploaden in Firefox</h3>
      <pre>Als u problemen ondervindt met uploaden in Firefox, volg dan deze stappen...

      - Het wisselen van browser is de eenvoudigste manier om uploadproblemen op te lossen. Probeer in plaats daarvan Chrome, Edge of Opera.
      - Sinds de laatste update is er geen ondersteuning voor Firefox. Het ondersteunt de gebruikte API niet in alle andere werkende browsers.
      </pre>
    </div>

    <div id="safari">
      <h3>Problemen met uploaden in Safari</h3>
      <pre>Als u problemen ondervindt bij het uploaden in Safari, probeer dan de volgende oplossingen...

      - Het wisselen van browser is de eenvoudigste manier om uploadproblemen op te lossen. Probeer in plaats daarvan Chrome, Edge of Opera.
      - Sinds de laatste update is er geen ondersteuning voor Safari. Het ondersteunt de gebruikte API niet in alle andere werkende browsers.
      </pre>
    </div>

    <div id="linux">
      <h3>Problemen met uploaden op Linux</h3>
      <pre>Als u Linux gebruikt en te maken heeft met uploaduitdagingen, overweeg dan deze probleemoplossende tips...

      - Zorg ervoor dat u de nieuwste versie van Chrome, Edge of Opera geïnstalleerd heeft.
      - Gebruik dmesg om mogelijke problemen te vinden (bijv. dmesg | grep -i usb). Ik heb persoonlijk ontdekt dat een software genaamd (brltty) problemen veroorzaakt (apt purge brltty)
      - Als u geen oplossing kunt vinden, stuur me dan een e-mail op koen@leaphy.nl
      </pre>
    </div>

    <div id="windows">
      <h3>Problemen met uploaden op Windows</h3>
      <pre>Als u Windows gebruikt en problemen ondervindt bij het uploaden, volg dan deze stappen...

      - Heeft u de benodigde stuurprogramma's geïnstalleerd? (https://github.com/leaphy-robotics/leaphy-webbased/archive/refs/heads/executables.zip)
      - Zorg ervoor dat u de nieuwste versie van Chrome, Edge of Opera geïnstalleerd heeft.
      - Als u geen oplossing kunt vinden, stuur me dan een e-mail op koen@leaphy.nl
      </pre>
    </div>

    <div id="mac">
      <h3>Problemen met uploaden op Mac</h3>
      <pre>Als u een Mac gebruikt en problemen ondervindt bij het uploaden, probeer dan deze suggesties...

      - Zorg ervoor dat u de nieuwste versie van Chrome, Edge of Opera geïnstalleerd heeft.
      - Als u geen oplossing kunt vinden, stuur me dan een e-mail op koen@leaphy.nl
      </pre>
    </div>

    <div id="mobile">
      <h3>Problemen met uploaden op mobiele apparaten</h3>
      <pre>Als u een mobiel apparaat gebruikt en problemen ondervindt bij het uploaden, volg dan deze stappen...

      - Sinds de laatste update is er geen ondersteuning voor mobiele apparaten. Het ondersteunt de gebruikte API niet in alle andere werkende browsers (zelfs niet op desktop).
      </pre>
    </div>

    <div id="other">
      <h3>Andere uploadproblemen</h3>
      <pre>Als uw uploadproblemen niet in de bovenstaande categorieën vallen, bekijk dan deze oplossingen...
        Stuur me een e-mail op: koen@leaphy.nl</pre>
    </div>
    <div style="height: 1000px;"></div>
  </div>
</div>
