#container {
  display: flex;
  align-items: stretch;
  width: 100vw;
}

#container h1 {
  margin-top: 1%;
  text-align: center;
}

#container h3 {
  text-align: left;
  margin-bottom: 1%;
}

.content {
  flex: 1 1 auto;
  padding: 20px;
}

#content div {
  margin-top: 5%;
}

#content h2 {
  text-align: center;
  margin-top: 3%;
}

body {
  overflow-y: scroll; /* Override the body's overflow */
}

h2 {
  cursor: pointer; /* Add a pointer cursor to indicate clickability */
  transition: color 0.3s; /* Smooth color transition on hover */
}

h2:hover {
  color: #007bff; /* Change color on hover */
}

