<div class="sidenav-buttons">
    <button mat-fab [attr.data-label]="'READ_CODE' | translate"
            [ngClass]="{'active': (appState.selectedCodeEditorType$ | async) === 1 && (blocklyState.isSideNavOpen$ | async)}"
            (click)="onSideNavToggled()" [disabled]="(appState.selectedCodeEditorType$ | async) !== 1">
        <mat-icon>code</mat-icon>
    </button>


    <button *ngIf="(appState.selectedCodeEditorType$ | async) !== CodeEditorType.Python" mat-fab [attr.data-label]="'SERIAL_OUTPUT' | translate"  (click)="onShowSerialOutputClicked()">
        <mat-icon>article</mat-icon>
    </button>

</div>
<app-serial-window
    *ngIf="dialogState.isSerialOutputWindowOpen$ | async"
></app-serial-window>
