.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-log-item {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  max-width: 100%;
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid black;
}

.upload-log-data {
  max-width: 99%;
  flex: 1 0 auto;
  padding-left: 5px;
  color: black;
  word-break: break-all;
}

.upload-log {
  width: 100%;
  height: 50vh;
  margin: 0;
  overflow-y: scroll;
  background-color: lightgray;
}

#header:hover {
  cursor: grab;
}

#header {
  background-color: var(--leaphy-color-primary);
  color: var(--leaphy-color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  width: 100%;
}
