.monaco-editor {
    width: 100%;
    height: 80%;
}

#container {
    //display: flex;
    //flex-direction: row;
    align-items: stretch;
    height: calc(100% - 64px);
    width: 100%;
    overflow: hidden;
    @media (prefers-color-scheme: dark) {
        background-color: #343444;
    }
    @media (prefers-color-scheme: light) {
        background-color: #ffffff;
    }
}

.sidenav-container {
    flex: 1 1 auto;
    background: #eee;
}

#sidenav {
    min-width: 20%;
}

app-button-bar {
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.terminal {
    margin-top: 20px;
    height: calc(20% - 20px);
    width: 100%;
}
