<div id="container">

  <div id="content">
    <h1>Having uploading problems?</h1>
    <h3>Select the most relevant to you, first browser then OS</h3>
    <div id="firefox">
      <h3>Firefox Uploading Issues</h3>
      <pre>If you're experiencing problems with uploading in Firefox, follow these steps...

      - Switching browsers is the easiest way to solve uploading issues. Try using Chrome or Edge or Opera instead.
      - As of the latest update there is no support for Firefox. It does not support the API used on all other working browsers.
      </pre>
    </div>

    <div id="safari">
      <h3>Safari Uploading Issues</h3>
      <pre>If you're encountering uploading difficulties in Safari, try the following solutions...

      - Switching browsers is the easiest way to solve uploading issues. Try using Chrome or Edge or Opera instead.
      - As of the latest update there is no support for Safari. It does not support the API used on all other working browsers.
      </pre>
    </div>

    <div id="linux">
      <h3>Linux Uploading Issues</h3>
      <pre>If you're using Linux and facing uploading challenges, consider these troubleshooting tips...

      - Make sure you have the latest version of Chrome or Edge or Opera installed.
      - Use dmesg to find potential issues (e.g. dmesg | grep -i usb), personally I found that an software called (brltty) causing issues (apt purge brltty)
      - If you can't find a fix mail me at helpdesk@leaphy.nl
      </pre>
    </div>

    <div id="windows">
      <h3>Windows Uploading Issues</h3>
      <pre>If you're using Windows and having trouble uploading, here are some steps you can take...

      - Installed the necessary drivers? (https://github.com/leaphy-robotics/leaphy-webbased/archive/refs/heads/executables.zip)
      - Make sure you have the latest version of Chrome or Edge or Opera installed.
      - If you can't find a fix mail me at helpdesk@leaphy.nl
      </pre>
    </div>

    <div id="mac">
      <h3>Mac Uploading Issues</h3>
      <pre>If you're on a Mac and experiencing uploading problems, try these suggestions...

      - Make sure you have the latest version of Chrome or Edge or Opera installed.
      - If you can't find a fix mail me at helpdesk@leaphy.nl
      </pre>
    </div>

    <div id="mobile">
      <h3>Mobile Device Uploading Issues</h3>
      <pre>If you're using a mobile device and encountering uploading difficulties, follow these steps...

      - As of the latest update there is no support for mobile devices. It does not support the API used on all other working browsers. (Even those who support on desktop)
      </pre>
    </div>

    <div id="other">
      <h3>Other Uploading Issues</h3>
      <pre>If your uploading problems don't fit into the above categories, explore these solutions...
        Mail me at: helpdesk@leaphy.nl</pre>
    </div>
    <div style="height: 1000px;"></div>
  </div>
</div>

