input {
    background: none;
    color: var(--leaphy-color-light);
    border: 1px solid #0000001f;
    border-radius: 5px;
    outline: 0;
    height: 35px;
}
input::placeholder {
    color: var(--leaphy-color-light);
}

#container {
    width: 100%;
    height: calc(100% - 64px);
    max-height: 60vh;
}

#header:hover {
    cursor: grab;
}

#header {
    background-color: var(--leaphy-color-primary);
    color: var(--leaphy-color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    width: 100%;
}

[mat-stroked-button],
[mat-flat-button] {
    color: var(--leaphy-color-light);
    font-size: 12px;
    font-weight: normal;
}

#button-container {
    display: flex;
    gap: 3px;
}

.examples {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    max-height: 50vh;
    overflow-y: auto;
    padding: 10px;
}

.example {
    aspect-ratio: 1/1;
    border: 3px solid var(--leaphy-robot-tile-border);
    border-radius: 10px;
    background: var(--leaphy-robot-tile);
    color: var(--leaphy-text-color);

    transition: 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.example:hover {
    border: 3px solid var(--leaphy-color-primary);
}

.preview {
    flex: 1;
    max-width: 100%;
    max-height: calc(100% - 29px);
}
