

#start-container {
    width: 100vw;
    height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: var(--leaphy-background-color);
    color: var(--leaphy-text-color);
}
