.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.block-environment {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  align-self: center;

  background-color: var(--leaphy-color-primary);
  color: white;
}

.block-environment:hover {
  background-color: var(--leaphy-color-primary-dark-tint);
}

.help-environment {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
  align-self: center;

  background-color: var(--leaphy-color-secundary);
  color: white;
}

.help-environment:hover {
  background-color: var(--leaphy-color-dark);
}

.return-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
