.header-container {
  background-color: var(--leaphy-color-primary);
  padding: 10px 0; /* Added padding to prevent content from being too close to the edges */
}

.header-logo {
  height: 18px;
  width: auto;
  max-width: fit-content; /* Added max-width to prevent the logo from overflowing */
  padding-left: 10px;
}

button {
  outline: none;
}

.selected {
  color: var(--leaphy-color-primary);
}

[mat-menu-item] {
  font-size: 12px;
  line-height: 36px;
  height: 40px;

  mat-icon {
    color: var(--leaphy-color-primary);
    margin-right: 5px;
  }
}

[mat-stroked-button],
[mat-flat-button] {
  color: var(--leaphy-color-light);
  border-color: var(--leaphy-color-secundary);
  font-size: 12px;
  font-weight: normal;
  border-radius: 20px;
  padding: 5px 15px; /* Added padding to buttons */
}

#block-icon {
  vertical-align: top;
}

[mat-flat-button] {
  background-color: var(--leaphy-color-secundary);
  border: none;
}

mat-button-toggle-group {
  border-color: var(--leaphy-color-secundary);
  border-radius: 20px;
}

mat-button-toggle {
  background-color: transparent;
  color: var(--leaphy-color-light);
  font-size: 12px;
  font-weight: normal;
}

::ng-deep .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
  border-color: var(--leaphy-color-secundary);
}

::ng-deep .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  background-color: var(--leaphy-color-primary-dark-tint);
  color: var(--leaphy-color-light);
  font-weight: bold;
}

::ng-deep .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 10px;
}

::ng-deep .mat-menu-panel {
  margin-top: 10px;
}

.icon-button {
  padding: 0;
  width: 35px;
  height: 35px;
  min-width: auto;
  align-content: center;

  mat-icon {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

#user-mode-toggle {
  height: 35px;
  display: flex;
  font-size: 16px;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content > span {
  line-height: 24px;
}

button mat-icon + span {
  margin-left: 5px;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px; /* Added padding to prevent content from being too close to the edges */
  width: 100vw;
}

.flex-buttons {
  button {
    margin: 0 5px;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.mat-toolbar {
  color: white !important;
  font-size: 14px !important;
}

.text-color-white {
  color: white !important;
}

.font-size-menu {
  button {
    font-size: 12px !important;
  }
}
