<mat-toolbar class="shadow-sm header-container" id="header-container">
    <img src="../../../../assets/leaphy-logo.svg" class="header-logo" width="300" height="24"/>
    <div class="flex-header">
        <div class="flex-buttons">
            <!-- Add ngIf to check for URL ending with "driverissues" -->
            <ng-container *ngIf="isDriverIssuesUrl() && this.appState.selectedRobotType$ | async">
                <button mat-stroked-button [matMenuTriggerFor]="projectMenu">
                    {{ "PROJECT" | translate }}
                </button>
                <button mat-stroked-button [matMenuTriggerFor]="helpMenu">
                    {{ "HELP" | translate }}
                </button>
                <button mat-stroked-button [matMenuTriggerFor]="moreMenu">
                    {{ "MORE" | translate }}
                </button>
                <ng-container *ngIf="(this.appState.selectedRobotType$ | async) !== AppState.microPythonRobotType">
                    <button mat-stroked-button (click)="onChooseRobot()">
                        {{ "CHOOSE_ROBOT" | translate }}
                    </button>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="!isDriverIssuesUrl()">
                <button mat-stroked-button class="back-to-blocks" (click)="onBackToBlocks()">{{ "GO_BACK_TO_BLOCKS" | translate }}</button>
            </ng-container>
        </div>

        <div class="flex-buttons">
            <!-- Add ngIf to check for URL ending with "driverissues" -->
            <ng-container *ngIf="isDriverIssuesUrl()  && this.appState.selectedRobotType$ | async">
                <button mat-stroked-button class="icon-button" (click)="onUndoClicked()">
                    <mat-icon>undo</mat-icon>
                </button>
                <button mat-stroked-button class="icon-button" (click)="onRedoClicked()">
                    <mat-icon>redo</mat-icon>
                </button>
            </ng-container>
        </div>

        <div class="flex-buttons">
            <!-- Add ngIf to check for URL ending with "driverissues" -->
            <ng-container *ngIf="isDriverIssuesUrl() && this.appState.selectedRobotType$ | async">
                <button mat-stroked-button [disabled]="(appState.canChangeCodeEditor$ | async) === false"
                        *ngIf="(appState.codeEditor$ | async) === 1" (click)="onCodeEditorClicked()">
                    <mat-icon>editor</mat-icon><span>{{ "CODE" | translate }}</span>
                </button>
                <button mat-stroked-button [disabled]="(appState.canChangeCodeEditor$ | async) === false"
                        *ngIf="(appState.codeEditor$ | async) === 2" (click)="onCodeEditorClicked()">
                    <mat-icon id="block-icon" svgIcon="block"></mat-icon><span>{{ "BLOCKS" | translate }}</span>
                </button>
                <button mat-stroked-button (click)="onSaveWorkspaceClicked()">
                    <mat-icon>save</mat-icon><span>{{ "SAVE" | translate }}</span>
                </button>

                <ng-container *ngIf="this.appState.selectedRobotType$ | async">
                    <button color="primary" mat-flat-button class="text-color-white" *ngIf="(appState.selectedRobotType$ | async) !== AppState.microPythonRobotType" (click)="onRunClicked()">
                        {{ "UPLOAD" | translate }}
                    </button>
                    <button color="primary" mat-flat-button class="text-color-white" *ngIf="(appState.selectedRobotType$ | async) === AppState.microPythonRobotType" (click)="onConnectClicked()">
                        {{ "CONNECT_PYTHON_ROBOT" | translate }}
                    </button>
                    <button color="primary" mat-flat-button class="text-color-white" *ngIf="(robotWiredState.isPythonDeviceConnected$ | async) === true" (click)="onRunClicked()" [disabled]="(robotWiredState.isPythonCodeRunning$ | async) === true">
                        {{ "RUN_CODE" | translate }}
                    </button>
                </ng-container>
            </ng-container>
        </div>
    </div>
</mat-toolbar>

<mat-menu #projectMenu="matMenu" class="matmenus font-size-menu" >
    <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onNewProjectClicked()">
        <mat-icon>insert_drive_file</mat-icon>
        <span>{{ "NEW" | translate }}</span>
    </button>
    <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onLoadWorkspaceClicked()">
        <mat-icon>folder</mat-icon>
        <span>{{ "OPEN" | translate }}</span>
    </button>
    <span mat-menu-item disabled *ngIf="blocklyState.projectName$ | async as projectName">{{ projectName }}</span>
    <button mat-menu-item [disabled]="
      (appState.selectedRobotType$ | async) === null ||
      (blocklyState.projectFilePath$ | async) === null
    " (click)="onSaveWorkspaceClicked()">
        <mat-icon>save</mat-icon>
        <span>{{ "SAVE" | translate }}</span>
    </button>
    <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onSaveWorkspaceAsClicked()">
        <mat-icon>save</mat-icon>
        <span>{{ "SAVEAS" | translate }}</span>
    </button>
</mat-menu>

<mat-menu #helpMenu="matMenu" class="matmenus">
    <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onHelpClicked()">
        <mat-icon>help_center</mat-icon>
        <span>{{ "HELP_FORUM" | translate }}</span>
    </button>
    <button mat-menu-item [disabled]="(appState.selectedRobotType$ | async) === null" (click)="onEmailClicked()">
        <mat-icon>email</mat-icon>
        <span>{{ "EMAIL" | translate }}</span>
    </button>
</mat-menu>

<mat-menu #moreMenu="matMenu" class="matmenus">
    <button mat-menu-item (click)="onShowInfoClicked()">
        <mat-icon>help_center</mat-icon>
        <span>{{ "MORE_ABOUT" | translate }}</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="languageMenu">
        <mat-icon>language</mat-icon>
        <span>{{ "LANGUAGE" | translate }}</span>
    </button>
    <button mat-menu-item (click)="onToggleSoundClicked()">
        <mat-icon *ngIf="(blocklyState.isSoundOn$ | async)">volume_off</mat-icon>
        <mat-icon *ngIf="(blocklyState.isSoundOn$ | async) === false">volume_up</mat-icon>
        <span *ngIf="(blocklyState.isSoundOn$ | async)">{{ "SOUND_OFF" | translate }}</span>
        <span *ngIf="(blocklyState.isSoundOn$ | async) === false">{{ "SOUND_ON" | translate }}</span>
    </button>
    <button mat-menu-item (click)="onViewLogClicked()">
        <mat-icon>article</mat-icon>
        <span>{{ "VIEW_LOG" | translate }}</span>
    </button>

    <button mat-menu-item id="download_drivers" (click)="onDownloadDriversClicked()">
        <mat-icon>download</mat-icon>
        <span>{{ "DOWNLOAD_DRIVERS" | translate }}</span>
    </button>
</mat-menu>

<mat-menu #languageMenu="matMenu" class="matmenus">
    <button mat-menu-item *ngFor="let language of appState.availableLanguages$ | async" [value]="language"
            (click)="onLanguageChanged(language)">
        <span [class.selected]="language.code === (appState.currentLanguage$ | async)?.code">{{language.name}}</span>
    </button>
</mat-menu>



