.file-explorer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    border-bottom: 1px solid #e0e0e0;
}

.current-path {
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: var(--leaphy-text-color);
}

.folder-content {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 30vw;
    overflow-y: auto;
}

.item {
    margin-left: 10px;
}

.folder-content-header-name {
    font-size: 0.9rem;
    color: var(--leaphy-text-color);
}

.folder-content-header-name:hover {
    cursor: pointer;
    color: #000000;
}
