name: Validate a pull request

on:
  pull_request:
    branches:
      - main
  workflow_dispatch: { }

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install node modules
        run: yarn workspaces focus --all --production

      - name: Run linter
        run: yarn lint

      - name: Build
        run: yarn build
